nav  {
    width: 100%;
    height: 30px;
    background-color: #90AFC5

    ;
    display: flex;
    flex-direction: row;

}
nav a{
    margin-left: 100px;
    font-size: 20px;
    text-decoration: none;
    color: black;

    
    
    
}
h1, p, h2, h3, h4, a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkgray
}
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
#Div {
    width: 100%;
    height: 100vh;
    background-color: #763626;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
#Small_div{
    width: 50%;
    height: 60%;
    background-color: #2A3132;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#hello {
    width: 50%;
    height: 60%;
    margin-top: 10%
}
#Confirm{
    color: #0000;
  background: 
    linear-gradient(90deg, darkgray 50%,#000 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
  font-size: 600%;
}
#Confirm:hover {
    --_p: 0%;
  }
#imgs {
    background-color: #2A3132;
    width: 50%;
    height: 60%;
    text-align: center
    
}