* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

nav  {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}
nav p{
    margin-left: 100px;
    font-size: 20px;
    
    
    
}
#intro {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    display: inline-block;
    color: white;
}
nav p:hover{
    border-width:3px; 
    border-left:solid black;
    border-right:solid black;
    transition: .5s;
}

#intro:hover{
    border-width:3px; 
    color: black;
    border-top: solid black;
    border-bottom: solid black;
    transition: 1.5s;
}
.info  {
    
    width: 24.7%;
    height: 100vh; 
}
#hello{
    display: flex;
    flex-direction:row;
    width:100vh;
    background-color: antiquewhite;
}
#Back_to_text {
    margin-left: 50%;
}
#School_text{
    font-size: 30px;
    margin-left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main_index_div {
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
}
#picture {
    width: 30%;
    height: 100%;
    background-color: blue;

}
#Intro2 {
    width:70%;
    height: 100%;
    background-color: blanchedalmond;
}