* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

nav  {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}
nav a{
    margin-left: 100px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    
    
    
}
#intro {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    display: inline-block;
    color: white;
}
nav p:hover{
    border-width:3px; 
    border-left:solid black;
    border-right:solid black;
    transition: .5s;
}

#intro:hover{
    border-width:3px; 
    color: black;
    border-top: solid black;
    border-bottom: solid black;
    transition: 1.5s;
}
.info  {
    
    width: 24.7%;
    height: 100vh; 
}
#hello{
    display: flex;
    flex-direction:row;
    width:100vh;
    background-color: antiquewhite;
}
#School_text{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main_index_div {
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
}
#picture {
    width: 30%;
    height: 100%;
    background-color: antiquewhite;
    

}
#Hello {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

#Intro2 {
    width:100%;
    height: 100%;
    background-image: url("https://img.freepik.com/premium-vector/back-school-seamless-pattern-with-education-supplies-stationery-light-background_198278-1235.jpg?w=2000");
    text-align: center;
    box-shadow: blanchedalmond 10px 0px;
}
#main_index_div {
    background-color:black
}
#bar {
    width:100%;
    height: 250px;
    background-color:rgb(211, 173, 93);
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
#word {
    background-color:rgb(211, 173, 93, 0.5);
    margin-top:300px;
    
}
.line {
    width: 1px;
    height:60%;
    background-color: black;
    margin-top: 2.5%;
    
}
.web {
    text-decoration: none;
    color:black;
    margin-top: 5%;
    font-size: 30px;
    transition: .2s;
}

.web:hover {
  transform: scale(2);
  text-shadow: 0px 10px 5px;
}
h1, p, h2, h3, h4, a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.out {
    width: 10%;
    height: 100%;
    background-color:white
}