* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
nav  {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}
nav a{
    margin-left: 100px;
    font-size: 20px;
    text-decoration: none;
    color: black;

    
    
    
}
h1, p, h2, h3, h4, a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkgray
}
#first-container {
    display: flex;
    flex-direction: row;
    
    gap: 100px;
    height: 100vh;
    width: 100%
}

#first-div {
    width:100%;
    height: 100%;
    background-color:darkgray;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:100px
    
}

.small_div {
    width: 25%;
    height: 40%;
    background-color:rgb(31, 33, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100;
    border-radius: 100px ;
}
.small_div img{
    margin-top:100px
}
.small_div img {
    width: 50%;
    height: 25%;
}
.button {
    width:50%;
    height: 30px;
    margin-top: 50px;
}

.button:hover {
    border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transition: 0.2s;
}
#h4, #h6, #h5 {
    margin-top: -200px;

}
#a {
    text-decoration: none;
    color: azure;
}